/* client/src/components/layout/MainLayout.css */

.main-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  /* A slightly warmer, softer white for the overall background */
  background-color: #fdfdff; 
  overflow: hidden;
}

.main-content-area {
  flex-grow: 1;
  /* Increase padding for a more spacious feel */
  padding: 2.5rem; 
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}